<div class="container">
  <div class="row">
    <h1 class="mt-5 mb-3 text-center">Book a Flight</h1>
    <form [formGroup]="formflight" (ngSubmit)="onSubmit(formflight.value)">
      <div class="mx-auto mb-3 w-50">
        <label><b>Full Name</b></label>
        <span style="color: red" *ngIf="formflight.get('fullname')?.errors?.['required']">*required</span>
        <input type="text" class="form-control" id="fullname" formControlName="fullname" required />
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center">
          <div class="col-3">
            <label><b>From</b></label>
            <select class="form-select" formControlName="from">
              <option value="null">กรุณาเลือกสถานที่เริ่มต้น</option>
              <option value="ไทย">ไทย</option>
              <option value="จีน">จีน</option>
              <option value="เกาหลี">เกาหลี</option>
              <option value="ญี่ปุ่น">ญี่ปุ่น</option>
            </select>
          </div>
          <div class="col-3">
            <label><b>To</b></label>
            <select class="form-select" formControlName="to">
              <option value="null">กรุณาเลือกสถานที่เริ่มต้น</option>
              <option value="ไทย">ไทย</option>
              <option value="จีน">จีน</option>
              <option value="เกาหลี">เกาหลี</option>
              <option value="ญี่ปุ่น">ญี่ปุ่น</option>
            </select>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-2">
            <label><b>Trip Type</b></label> <span style="color: red" *ngIf="formflight.get('type')?.errors?.['required']">*required</span><br/>
            <div class="mt-2">
              <input class="form-check-input" type="radio" value="oneway" name="type" id="type" formControlName="type">
              <label class="form-check-label ms-2" for="type">One way</label>
              <input class="form-check-input ms-4" type="radio" value="return" name="type" id="type" formControlName="type">
              <label class="form-check-label ms-2" for="type">Return</label>
            </div>
          </div>
          <div class="col-2">
            <label><b>Departure</b></label> <span style="color: red" *ngIf="formflight.get('departure')?.errors?.['required']">*required</span>
            <mat-form-field appearance="fill">
              <mat-label>Departure</mat-label>  <!--select date-->
              <input matInput [matDatepicker]="Departurepicker" [min]="startDate" [ngModel]="startDate" formControlName="departure">
              <mat-datepicker-toggle matSuffix [for]="Departurepicker"></mat-datepicker-toggle>
              <mat-datepicker #Departurepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-2 ms-5">
            <label><b>Arrival</b></label> <span style="color: red" *ngIf="formflight.get('arrival')?.errors?.['required']">*required</span>
            <mat-form-field appearance="fill">
              <mat-label>Arrival</mat-label>
              <input matInput [matDatepicker]="Arrivalpicker" [min]="formflight.value.departure" formControlName="arrival">
              <mat-datepicker-toggle matSuffix [for]="Arrivalpicker"></mat-datepicker-toggle>
              <mat-datepicker #Arrivalpicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-2">
            <label><b>Adults</b></label>
            <span style="color: red" *ngIf="formflight.get('adults')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="formflight.get('adults')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="formflight.get('adults')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="adults" formControlName="adults" value="0" required />
          </div>
          <div class="col-2">
            <label><b>Children</b></label>
            <span style="color: red" *ngIf="formflight.get('children')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="formflight.get('children')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="formflight.get('children')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="children" formControlName="children" value="0" required />
          </div>
          <div class="col-2">
            <label><b>Infants</b></label>
            <span style="color: red" *ngIf="formflight.get('infants')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="formflight.get('infants')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="formflight.get('infants')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="infants" formControlName="infants" value="0" required />
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 mt-3 w-25 mx-auto">
        <button class="btn btn-primary" [disabled]="formflight.invalid" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">ชื่อ</th>
        <th scope="col">จาก</th>
        <th scope="col">ไป</th>
        <th scope="col">Trip Type</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Adults</th>
        <th scope="col">Children</th>
        <th scope="col">Infants</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of arrflight">
        <td>{{ flight.fullname }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.type }}</td>
        <td>{{ flight.departure.getDate() + '/' + (flight.departure.getMonth() + 1) + '/' + flight.departure.getFullYear() }}</td>
        <td>{{ flight.arrival.getDate() + '/' + (flight.arrival.getMonth() + 1) + '/' + flight.arrival.getFullYear() }}</td>
        <td>{{ flight.adults }}</td>
        <td>{{ flight.children }}</td>
        <td>{{ flight.infants }}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
